<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<header th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">

            <a class="navbar-brand" th:href="@{/dashboard}">
                <img th:src="@{/images/favicon.ico}"
                     alt="University Logo"
                     style="width: 70px; height: auto;">
            </a>


            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <form th:action="@{/logout}" method="post">
                            <button class="btn btn-outline-light btn-sm ms-2">
                                Logout
                            </button>
                        </form>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

</header>

</body>
</html>
